/node_modules/
/public/js/app.js
/storage/oauth-private.key
/storage/*.key
/vendor/
.idea/
.history/
.vscode
/public/mix-manifest.json
# storage/app/recommendations/

# storage/app/Recomendaciones.xlsm

# public/mix-manifest.json
